@using nmct.ssa.dropbox.Models;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="/Files/Upload">Nieuw bestand opladen</a>

<h3>Mijn bestanden</h3>

<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Naam</th>
        <th>Omschrijving</th>
        <th>Opgeladen op</th>
        <th>Acties</th>
    </tr>
    @foreach (FileRegistration f in ViewBag.MijnBestanden)
    {
        <tr>
            <td>@f.FileId</td>
            <td>@f.FileName</td>
            <td>@f.Description</td>
            <td>@f.UploadTime</td>
            <td>
                <a href="/Files/Download/@f.FileId">Downloaden</a> | <a href="/Files/ConfirmDelete/@f.FileId">Verwijderen</a>
            </td>
        </tr>
    }
</table>

<h3>Bestanden met mij gedeeld</h3>

<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Naam</th>
        <th>Omschrijving</th>
        <th>Opgeladen op</th>
        <th>Opgeladen door</th>
        <th>Acties</th>
    </tr>
    @foreach (FileRegistration f in ViewBag.ToegangBestanden)
    {
        <tr>
            <td>@f.FileId</td>
            <td>@f.FileName</td>
            <td>@f.Description</td>
            <td>@f.UploadTime</td>
            <td>@f.UserName</td>
            <td>
                <a href="/Files/Download/@f.FileId">Downloaden</a> | <a href="/Files/ConfirmDelete/@f.FileId">Verwijderen</a>
            </td>
        </tr>
    }
</table>
